<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="title">{{detail.title}}</div>
        <div class="author" style="text-align: right;">{{detail.authorName}}</div>
        <div class="content">{{detail.content}}</div>

        <textarea id="content" v-model="content" name="" placeholder="" id="" cols="30" rows="10"></textarea>
        <button id="btn" @click="sendComment">发送</button>

        <ul id="comment" v-if="commentList.length">
            <li v-for="item in commentList">
                <span style="margin-right: 5px;">{{item.authorName}}</span>
                <span class="content">{{item.content}}</span>
                <span>{{item.createTime}}</span>
                <a href="javascript:;"  class="btn-reply" @click="handleReply(item.id)">回复</a>
                <ul v-if="item.replyList" v-for="reply in item.replyList">
                    <li>
                        <span style="margin-right: 5px;">{{reply.authorName}}</span>
                        <span class="content">
                            <span :data-id="reply.replyUserId" v-if="reply.replyUserName">回复：{{reply.replyUserName}}</span>
                            {{reply.content}}</span>
                        <span>{{reply.createTime}}</span>
                        <a href="javascript:;"  class="btn-reply" @click="handleReply(item.id, reply.author)">回复</a>
                    </li>
                </ul>
            </li>
        </ul>
        <span v-if="total > commentListQuery.pageSize * (commentListQuery.pageIndex + 1)" @click="loadMore">加载更多</span>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
    <script src="./js/common.js"></script>
    <script type="text/javascript">

        $(() => {
            var id = getQueryVariable('id')
            var vm = new Vue({
                data: {
                    replyUserId: '',
                    replyId: '',
                    content: '',
                    detail: {},
                    commentList: [],
                    total: 0,
                    commentListQuery: {
                        pageSize: 3,
                        pageIndex: 0
                    },
                },
                methods: {
                    getArticleDetail() {
                        request.get('/api/article/detail', { id }).then(res => {
                            if (res.code == 200) {
                                this.detail = res.data;
                            }
                        })
                    },
                    getComment(reset = false) {
                        const data = {
                            ...this.commentListQuery,
                            articleId: id,
                        }
                        request.get('/api/comment/list', data).then(res => {
                            if (res.code == 200) {
                                res.data.list && res.data.list.forEach(item => {
                                    item.replyList = []
                                })
                                this.commentList = res.data.list
                                this.total = res.data.total;
                                this.getReplyList()
                            }
                        })
                    },
                    getReplyList() {
                        const that = this;
                        const data = {
                            ...this.commentListQuery,
                            articleId: id,
                        }
                        request.get('/api/comment/replyList', data).then(res => {
                            if (res.code == 200) {
                                let map = {};
                                res.data.forEach(item => {
                                    if(!map[item.replyId]) {
                                        map[item.replyId] = [item]
                                    }
                                    else {
                                        map[item.replyId].push(item)
                                    }
                                })

                                this.commentList.forEach(item => {
                                    if(map[item.id]) {
                                        item.replyList = map[item.id]
                                    }
                                })
                            }
                        })
                    },
                    loadMore() {
                        this.commentListQuery.pageIndex += 1;
                        this.getComment()
                    },
                    handleReply(replyId, replyUserId = '') {
                        this.replyId = replyId
                        this.replyUserId = replyUserId
                    },
                    sendComment() {
                        const data = {
                            content: this.content, 
                            id, 
                            replyId: this.replyId, 
                            replyUserId: this.replyUserId
                        }
                        request.post('/api/comment/reply', data).then(res => {
                            if (res.code == 200) {
                                this.getComment()
                            }
                        })
                    },
                },
                mounted() {
                    this.getArticleDetail();
                    this.getComment();
                },
            })
            vm.$mount('#app')
        })

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }
    </script>
</body>

</html>