.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
}
.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
}
.enter,
.appear {
  opacity: 0;
}
.enter {
  transition: all 0.3s;
}
.enter-active,
.appear-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
.enter-done {
  opacity: 1;
}
.exit {
  opacity: 1;
}

.exit-active {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.exit-done {
  opacity: 0;
}
