@import "./article.less";
@import "./comment.less";
@import "./editor.less";
@import "./category.less";

.background{
  position: fixed;
  left: 0;
  width: 100%;
  transition: all .3s;
  height: 100%;
  background: center center no-repeat;
}

.flex{
  display: flex;
}
.flex1{
  flex: 1;
}