<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0; user-scalable=0">
    <title>元旦大转盘</title>
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/swiper.min.css">
    <link rel="stylesheet" href="./styles/style.css">
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    docEl.style.fontSize = 100 * (clientWidth / 1080) + 'px';
                };
            recalc();
            win.addEventListener(resizeEvt, recalc, false);
        })(document, window)
    </script>
</head>

<body>
    <div id="app">
        <div class="lottery-wrap">
            <div class="lottery-box">
                <div class="item" v-for="(item, index) in prizeList" :style="{'transform': 'rotate('+ (index * 60 - 30) +'deg)'}">
                    <span>{{item.prize_name + '--' + index }}</span>
                    <img :src="item.prize_url" alt="">
                </div> 
            </div>
            <div class="pointer"></div>
            <div class="start-btn" @click="start"><div class="text"></div></div>
        </div>
        <!-- <div class="lottery-num" @click="showPrizeModal = true">剩余抽奖次数：1</div> -->
        <div class="name-list">
            <div class="title">
                <div class="text"></div>
            </div>
            <div class="list">
                <div class="wrap" :style="listStyle">
                    <div class="item" v-for="item in nameList">
                        <span>{{item.mobile}}</span>
                        <span>{{item.prize_name}}</span>
                    </div>
                    <div class="item" v-for="item in nameList">
                        <span>{{item.mobile}}</span>
                        <span>{{item.prize_name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="item" v-for="item in 2" :class="(item == navIndex ? 'active ' : '') + 'item' + item" @click="handleNav(item)">
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="prize-box">
                        <div class="item" v-for="item in 9"><img :src="'./images/1/prize/' + item + '.png'" alt=""></div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="rule-box">
                        <div class="rule-text"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" :class="{ active: showInputCardModal}">
            <div class="modal-mask" @click="showInputCardModal = false"></div>
            <div class="modal-container input-card-content">
                <div class="close" @click="showInputCardModal = false"></div>
                <div class="title"></div>
                <input type="text" class="text-input card-input" v-model="cardNo">
                <div class="btn-submit" @click="validCard"></div>
            </div>
        </div>
        <div class="modal" :class="{ active: showPrizeModal}">
            <div class="modal-mask" @click="showPrizeModal = false"></div>
            <div class="modal-container prize-modal-content">
                <div class="close" @click="showPrizeModal = false"></div>
                <img src="./images/1/prize/1.png" alt="">
                <p>恭喜！抽中“高效综合仪”一台！</p>
                <input type="text" class="text-input card-input" placeholder="姓名" :readonly="submitInfoed" v-model="sizeForm.user_name">
                <input type="text" class="text-input card-input" placeholder="电话" :readonly="submitInfoed" v-model="sizeForm.mobile">
                <input type="text" class="text-input card-input" placeholder="地址" :readonly="submitInfoed" v-model="sizeForm.address">
                <div class="btn-submit" v-if="!submitInfoed" @click="handleSubmit"><div class="text"></div></div>
            </div>
        </div>
        <div class="modal" :class="{ active: showSuccessModal}">
            <div class="modal-mask" @click="showSuccessModal = false"></div>
            <div class="modal-container input-card-content success-modal-content">
                <div class="close" @click="showSuccessModal = false"></div>
                <div class="icon-success"></div>
                <div class="title"></div>
                <p>如有疑问请联系销售人员</p>
            </div>
        </div>
    </div>

    <script src="./script/zepto.min.js"></script>
    <script src="./script/vue.js"></script>
    <script src="./script/swiper.min.js"></script>
    <script src="./script/app.js"></script>
</body>
</html>