body{
    font-size: 14px;
}
.lottery-box{
    position: relative;
    width: 4rem;
    height: 4rem;
    background: #ccc;
    margin: 0 auto;
    border-radius: 50%;
    transition: all 3s ease-in-out;
}
.lottery-box .item{
    position: absolute;
    width: 1.2rem;
    text-align: center;
    height: 2rem;
    top: 0;
    left: 50%;
    margin-left: -.6rem;
    text-align: center;
    transform-origin: bottom;
}

.lottery-box .item span{
    display: block;
    padding: .2rem;
}
